#!/sbin/runscript

PIDFILE=/var/run/${SVCNAME}.pid
BWPROXY=/usr/bin/bwproxy

depend() {
	provide bwproxy
}

start() {
	ebegin "Starting bwproxy"
	start-stop-daemon --start --quiet --background --stderr "/var/log/bwproxy" --make-pidfile --pidfile "${PIDFILE}" --user "nobody:nobody" --exec "$BWPROXY" -- ${BWPROXY_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping bwproxy"
	start-stop-daemon --stop --quiet --pidfile "${PIDFILE}" --exec "$BWPROXY"
	eend $?
}
