#!/sbin/runscript

PIDFILE="/var/run/${SVCNAME}.pid"
BWPROXY="/usr/bin/bwproxy"
LOGFILE="/var/log/${SVCNAME}"

depend() {
	provide bwproxy
}

start() {
	ebegin "Starting bwproxy"
	if [ ! -e "$LOGFILE" ]; then
		touch "$LOGFILE"
		chmod go-rw "$LOGFILE"
		chown nobody:nobody "$LOGFILE"
	fi
	start-stop-daemon --start --quiet --background --stderr "$LOGFILE" --make-pidfile --pidfile "${PIDFILE}" --user "nobody:nobody" --exec "$BWPROXY" -- ${BWPROXY_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping bwproxy"
	start-stop-daemon --stop --quiet --pidfile "${PIDFILE}" --exec "$BWPROXY"
	eend $?
}
